body{
  background-color: black;
  max-width: 960px;
  border-style: double;
  padding: 50px 20px 50px 20px;
    margin: auto;
}
*{
  font-family: Roboto, sans-serif;
  font-size: 16;
  color: yellow;
}
a{
  color: cyan;
}
